
/**************************************base*******************************************/

:root{
    --color-primary:#eb2f64;
    --color-primary-light:#FF3366;
    --color-primary-dark:#BA265D;
    --Grey-light-1: #faf9f9;
    --Grey-light-2: #f4f2f2;
   --Grey-light-3: #f0eeee;
   --Grey-light-4: #ccc;

   --Grey-dark-1: #333;
   --Grey-dark-2: #777;
   --Grey-dark-3: #999 ;
 



}
*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
	 overflow-x: hidden; //horizontal
    overflow-y: scroll; //vertical
	  max-width: 100%;
}
body{
      max-width: 100%;
 	 overflow-x: hidden; //horizontal
    overflow-y: scroll; //vertical
    font-family: 'open Sans',sans-serif;
    font-weight: 400;
    line-height: 1.6;
    
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--Grey-dark-2);


   
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#fb7b6b);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;

   
    
  

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/**********************************************************************************/

/*************************************layout**************************************/
/*header section*/

.front{
    background-color: #333;
    display: flex;
    align-items: center;
}



.label{
    display: inline-block;
    padding: 2rem;
    color:var(--Grey-light-4) ;
    
}

.label:hover{


  background-image: linear-gradient(120deg,transparent 0%,transparent 50%,white 50%);
  background-size: 240%;
  color: black;
transition: all .4s;
background-position: 100%;



}


/*************************************************************************************/
  
}
.jiit{
    font-size: 4.1rem;
    color: black;
    
}
.ab{
    margin: 0;
}
/*******************************************************************************/
.more{
   
   margin-left: 1rem;
   margin-top: 10rem;
   margin-right: 1rem;
   

   border-radius: 60px;
   background-position: center;
   background-size: cover;
   padding: 1rem;
 
   
    
}
@media screen (min-width:1200px)
{
    .more{
       
       
        height: 45vh;
        
        
       
       
    }
}
.adm
{
    
    margin: 5rem;
    background-color: rgba(255, 255, 255, 0.698);
    font-size: 1.5rem;
    padding: 2.1rem;
    text-align: center;
    border-radius: 3px;
    transition:transform .1s;
    border-radius: 60px;
    
}
.adm:hover{
    transform: translateY(-1.3REM) scale(1.03);
    background-color: white;
    color: black;
}
.head{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
.cour{
    text-align: center;
    padding: 2rem;
    margin-top: 8rem;
    font-size: 3rem;
    color: black;
   

}
.follow{
    font-size: 2.5rem;
    padding: 1rem;
}
.in{
    color: white;
}
.face{
    color: #3b5998;
}
.tw{
    color:#55acee ;
   
}
.qu{
    color: #B92B27;
}

/******************************************fron2*********************************/
.front2{
    font-size: 2.2rem;
    text-align: center;
    
}

.button{
    background-color: #333;
}
.item{
    
       font-size: 2.3rem;
       text-align: center;
}
/*************************************************************************************/
/*************************************************layout******************************/
.footer
  {
    background-color: #333;
    max-width: 140rem;
    margin: 8rem auto;
    color: linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.8));;
  
   
  }
  .container-fluid
  {
    text-align: center;
    
    
  }
  .footer-link{
    text-align: center;
    padding: 2rem;
  }



h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
  background-color: #333;
  color: white;
  border: none;
 outline: none;	padding: 10px 20px;
 border-radius: 50px;
 margin-bottom: 10px;
}
button:hover{
 


 color: #333;
 background: #fff;
 

  
}
/*************************************************************************************/
