@media(min-width:800px)
{



.back{
  background-color: white;

}
.top
{
  background-color: black;
  color: white;
}
#navbarTogglerDemo02
{
  color: white;
}
.bottom
{
  background-image: linear-gradient(-90deg,#00e5ff 0%,#00e676 100%);
  width: 850px;
  height: 80px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 15px 15px 0px 0px;
    font-family: karla;

}

.subject
{
  color: black;
  display: inline-block;
  padding: 80px;
}

.subject-1
{
  color: black;
  display: inline-block;
  padding-left: 100px;

  padding-right: 100px;

}
.container-fluid
{
  text-align: center;
  color: white;
}
.footer-link
{
  padding-left: 10px;
  color: white;
}

.bottom-top
{
  text-align: center;
  font-size: 35px;
}
.subjects
{background-color: white;
  width: 850px;
  height: 300px;
  margin: auto;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

}





@media(max-width:750px)
{



  .back{
    background-color: white;

  }
  .top
  {
    background-color: black;
    color: white;
  }
  #navbarTogglerDemo02
  {
    color: white;
  }
  .bottom
  {
    background-image: linear-gradient(-90deg,#00e5ff 0%,#00e676 100%);
    width: 320px;
    height: 40px;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 15px 15px 0px 0px;
      font-family: karla;

  }

  .subject
  {
    color:black;
    display: inline-block;
    padding: 20px;
  }

  .subject-1
  {
    color: black;
    display: inline-block;
    padding-left: 20px;

    padding-right: 20px;

  }
  .container-fluid
  {
    text-align: center;
    color: white;
  }
  .footer-link
  {
    padding-left: 10px;
    color: white;
  }

  .bottom-top
  {
    text-align: center;
    font-size: 35px;
  }
  .subjects
  {background-color: white;
    width: 320px;
    height: 450px;
    margin: auto;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  }
}
