
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7;
    color: #777;
    padding:3rem;
}



    @media(max-width: 37.5em)
    {
        body{
        font-size: 30%;
        padding: 0;
        }
    }
    @media(max-width: 56.25em)
    { body{
        font-size: 60%;
        padding: 0;
    }
    }
    @media(max-width: 75em)
    {   body{
        font-size: 70%;
        padding: 0;
    }
    }
    @media(max-width: 112.54em)
    {   body{
        font-size: 80%;
    }
    }




